body {
    font-family: sans-serif;
}

#page {
    margin: 50px 200px;
}

h1 {
    font-size: 30pt;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

#sent_messages {
    border-collapse: collapse;
    border: 1px solid #AACBE2;
}

    #sent_messages tr:first-child {
        background: #CEE5F5;
    }

    #sent_messages th, #sent_messages td {
        padding: 4px 20px;
    }
