body {
    font-family: sans-serif;
}

#page {
    margin: 50px 200px;
}

h1 {
    font-size: 30pt;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

/* SENT MESSAGES */

#sent_message_list {
}

.sent_message {
    position: relative;
}
    .sent_message .status {
    }
    .sent_message .phone {
    }
    .sent_message .time {
    }
    .sent_message .message_text {
    }
