{% extends 'layout.html' %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='sms.js') }}"></script>

<button id="test">Test!</button>

<h2>Select Recipients</h2>
<div id="sms_box">
    <table id="recipients">
        <tr><td>test</td></tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.phone }}</td>
        </tr>
        {% endfor %}
    </table>
    <form id="new_user" action="">
        Add user: 
        <input type="text" name="user_name" placeholder="Name">
        <input type="text" name="user_phone" placeholder="Phone">
        <input type="submit" value="Add">
    </form>
    <form id="sms_form" action="">
        <p><input type="text" name="phone_number" placeholder="Phone"></p>
        <p><input type="text" name="message" placeholder="Message">
            <input type="submit" value="Send"></p>
    </form>
</div>

<div id="sent_message_list">
    <h2>Message History</h2>
    {% for message in sent_messages %}
    <div class="sent_message {{ message.status }}">
        <div class="status">{{ message.status }}</div>
        <div class="sent_body">
            <div class="phone">{{ message.phone }}</div>
            <div class="time">{{ message.date }}</div>
            <div class="clear"></div>
            <div class="message_text"><p>{{ message.message }}</p></div>
            <div class="sid hidden">{{ message.sid }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
