{% extends 'layout.html' %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='sms.js') }}"></script>

<button id="test">Test!</button>

<div id="sms_box" class="rounded">
    <h3>Select Recipients</h3>
    <table id="recipients">
        {% for user in users %}
        <tr>
            <td><input type="checkbox" value="{{ user.id }}"></td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.phone }}</td>
        </tr>
        {% endfor %}
    </table>
    <form id="sms_form" action="">
        <p>Other</p>
        <p><input type="text" name="phone_number" size="10" placeholder="Phone"></p>
        <p><input type="text" name="message" size="40" placeholder="Message">
            <input type="submit" value="Send"></p>
    </form>
</div>

<div id="sent_message_list">
    <h2>Message History</h2>
    {% for message in sent_messages %}
    <div class="sent_message rounded {{ message.status }}">
        <div class="status rounded_top">{{ message.status }}</div>
        <div class="sent_body">
            <div class="phone">{{ message.phone }}</div>
            <div class="time">{{ message.date }}</div>
            <div class="clear"></div>
            <div class="message_text"><p>{{ message.message }}</p></div>
            <div class="sid hidden">{{ message.sid }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
