{% extends 'layout.html' %}

{% block body %}

<script type="text/javascript" src="{{ url_for('static', filename='sms.js') }}"></script>

<button id="test">Test!</button>

<form id="sms_form" action="">
    <p><label for="phone">Phone Number: </label>
        <input type="text" name="phone_number" /></p>
    <p><label for="phone_number">Message: </label>
    <input type="text" name="message" />
    <input type="submit" value="Send" /></p>
</form>

<div id="sent_message_list">
    <h2>Message History</h2>
    {% for message in sent_messages %}
    <div class="sent_message {{ message.status }}">
        <div class="status">{{ message.status }}</div>
        <div class="sent_body">
            <div class="phone">{{ message.phone }}</div>
            <div class="time">{{ message.date }}</div>
            <div class="clear"></div>
            <div class="message_text"><p>{{ message.message }}</p></div>
            <div class="sid hidden">{{ message.sid }}</div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
