<!doctype HTML>
<head>
    <title>SMSr</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.placeholder.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

</head>

<body>
<div id=page>
    <h1>SMSr</h1>

    {% for msg in get_flashed_messages() %}
    <div class=flash>
    {{ msg }}
    </div>
    {% endfor %}

    {% block body %}{% endblock %}
</div>
</body>

